.icon-facebook {
  fill: white;
  margin-right: 10px;
}
.icon-twitter {
  fill: white;
  margin-right: 10px;
}
.icon-googleplus {
  fill: white;
  margin-right: 10px;
}
.icon-dribbble {
  fill: white;
  margin-right: 10px;
}
.icon-instagram {
  fill: white;
}
